@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: skyblue;
    text-align: center;
}

header > h1 {
    padding: 50px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.548);
}

span#burguer {
    background-color: rgb(78, 160, 192);
    width: 100vw;
    padding: 10px 0px;
}

li:hover, #burguer:hover {
    background-color: rgb(42, 140, 179);
    cursor: pointer;
    border: 1px solid rgba(29, 98, 128, 0.753);
}

menu {
    display: none;
    background-color: rgb(78, 160, 192);
}

menu li {
    padding: 12px;
    list-style-type: none;
}

menu a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

main {
    max-width: 700px;
    padding: 20px;
    text-align: justify;
    margin: auto;
}

main > h2 {
    text-align: center;
    padding: 20px;
}

main p {
    padding: 10px;
    text-indent: 30px;
    line-height: 1.7em;
    font-size: 1.1em;
}