@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: desafio;
    src: url(pacote-projeto-d010/fontes/idroid.otf) format(opentype);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(82, 206, 150);
    margin: 0px;
}

header{
    background-image: linear-gradient(to bottom, rgb(0, 218, 120), rgb(0, 156, 86), rgb(0, 104, 57));
    color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.267);
}

h1#principal {
    font-family: 'Bebas Neue', sans-serifBe;
    text-align: center;
    margin-top: 0px;
    padding-top: 45px;
    text-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.493);
    font-size: 2.5em;
}

p#subtitulo {
    padding: 10px 0px 20px 0px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.445);
}

nav > a {
    color: white;
    padding: 0px 20px;
    font-weight: bold;
    display: inline-block;
    margin: 0px;
    text-decoration: none;
    padding: 7.5px 20px;
}

nav > a:hover {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.400), rgba(255, 255, 255, 0.300), rgba(255, 255, 255, 0.200));
}

main {
    background-color: white;
    margin: auto;
    width: 1000px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.322);
}

.conteudo {
    font-family: desafio;
    color: rgb(1, 75, 41);
}

main > h2 {
    margin-top: 0px;
    padding: 25px 0px 10px 35px;
    font-size: 1.7em
}

main > h3 {
    padding: 3px 15px;
    font-size: 1.35em;
    background-image: linear-gradient(to right, rgba(0, 128, 21, 0.25), rgba(0, 128, 21, 0.15),rgba(0, 128, 21, 0.1), rgba(0, 128, 21, 0.07));
    margin: 15px 25px;
}

main > p {
    margin: 0px;
    padding: 0px 30px 20px 30px;
    text-align: justify;
    font-size: 1.1em;
    text-indent: 25px;
}

div#android {
    text-align: center;
}

div#irina {
    text-align: center;
    padding-bottom: 30px;
} 

div#bugdroid {
    text-align: center;
    margin-bottom: 25px;
}

iframe{
    height: 500px;
    width: 900px;
    padding-top: 40px;
}

div#video {
    text-align: center;
    background-color:  rgb(0, 100, 55);
    height: 580px;
    margin: 10px 0px;

}

div#extra {
    background-color: rgba(168, 255, 156, 0.822);
    width: 900px;
    border-radius: 10px;
    margin: auto;
    text-align: justify;
    text-indent: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
}

div#extra > div#top {
    background-color: rgba(46, 155, 32, 0.856);
    color: white;
    font-weight: bold;
    margin: 0px;
    width: 900px;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 15px;
}

div#extra > div#top > p {
    margin: 0px;
    padding: 10px;
    font-size: 17px;
}

div#corp > p {
    margin: 0px;
    padding: 0px 20px 10px 20px;
    text-align: justify;
    font-size: 1.1em;
    text-indent: 25px;
}

div#corp > ul {
    margin: 0px;
    padding: 0px 0px 10px 50px;
    font-size: 1.1em;
    text-indent: 25px;
}

div#corp {
    padding: 5px 15px;
}

.list {
    width: 400px;
    display: inline-block;
    height: 190px;
}

footer {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0px;
    background-color: rgb(0, 100, 55);
}

footer > p {
    padding: 5px;
    margin-bottom: 0px;
    color: white;
}

.hyper {
    color: rgb(1, 75, 41);
    text-decoration: none;
    font-weight: bold;
}

.hyper::after {
    content: ' ✔';
}

li::before {
    content: '✔ ';
}

span {
    color: rgb(1, 75, 41);
    font-weight: bold;
}